/* Página de Cadastro */
.auth-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.auth-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-section form {
    display: flex;
    flex-direction: column;
}

.auth-section label {
    margin-bottom: 8px;
    font-size: 14px;
}

.auth-section input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-section button {
    background-color: #2a3d66;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-section button:hover {
    background-color: #1a2c4d;
}

.auth-section p {
    text-align: center;
    margin-top: 20px;
}

.auth-section a {
    color: #2a3d66;
    text-decoration: none;
}
